<% if current_user && current_user.admin? %>
<h4><%= link_to "Add an Oddbit", new_product_path, id: "new_product_link", remote: true %></h4>
<% end %>

<h3>Oddbits</h3>

<div class="all-products">
  <%= render 'products' %>
</div>
